# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
media
venv/
/static/
logs/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
.Python


# Supervisord
*.pid

# Unit test / coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml


# PyLint
pylint-report.json

# Custom runtime certificates
custom-runtime-certificates/
