[MESSAGES CONTROL]

disable=all

enable=
    bad-indentation,
    mixed-indentation,
    line-too-long,
    unnecessary-semicolon,
    bad-whitespace,
    missing-final-newline,
    multiple-statements,
    trailing-newlines,
    trailing-whitespace,
    unexpected-line-ending-format,
    import-error,
    import-self,
    reimported,
    deprecated-module,
    wildcard-import,
    misplaced-future,
    wrong-import-order,
    wrong-import-position,
    ungrouped-imports,
    multiple-imports,
    unused-import,
    not-in-loop,
    function-redefined,
    continue-in-finally,
    abstract-class-instantiated,
    star-needs-assignment-target,
    duplicate-argument-name,
    return-in-init,
    too-many-star-expressions,
    nonlocal-and-global,
    return-outside-function,
    invalid-star-assignment-target,
    bad-reversed-sequence,
    nonexistent-operator,
    yield-outside-function,
    init-is-generator,
    nonlocal-without-binding,
    lost-exception,
    invalid-unary-operand-type,
    unsupported-binary-operation,
    not-callable,
    redundant-keyword-arg,
    not-context-manager,
    repeated-keyword,
    missing-kwoa,
    no-value-for-parameter,
    invalid-sequence-index,
    invalid-slice-index,
    too-many-function-args,
    unexpected-keyword-arg,
    unsupported-membership-test,
    unsubscriptable-object,
    bad-except-order,
    catching-non-exception,
    bad-exception-context,
    notimplemented-raised,
    raising-bad-type,
    raising-non-exception,
    misplaced-bare-raise,
    unpacking-non-sequence,
    invalid-all-object,
    no-name-in-module,
    unbalanced-tuple-unpacking,
    undefined-variable,
    undefined-all-variable,
    used-before-assignment,
    format-needs-mapping,
    truncated-format-string,
    missing-format-string-key,
    mixed-format-string,
    too-few-format-args,
    bad-str-strip-call,
    too-many-format-args,
    bad-format-character,
    not-an-iterable,
    not-a-mapping,
    bad-super-call,
    access-member-before-definition,
    method-hidden,
    assigning-non-slot,
    duplicate-bases,
    inconsistent-mro,
    inherit-non-class,
    invalid-slots,
    invalid-slots-object,
    no-method-argument,
    no-self-argument,
    unexpected-special-method-signature,
    non-iterator-returned,
    invalid-length-returned,

[FORMAT]
max-line-length=200
expected-line-ending-format=LF
